body {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.label {
    color: #f0b1ad;
    padding: 25px;
    text-align: center;
}
.label img {
    border-radius: 50%;
    margin: 15px;
    border: 2px solid #f0b1ad;
}
.fa-instagram {
    font-size: 4em;
    color: #f0b1ad;
    margin: 10px;
}
.fa-linkedin {
    font-size: 4em;
    color: #f0b1ad;
    margin: 10px;
}
.fa-twitter-square {
    font-size: 4em;
    color: #f0b1ad;
    margin: 10px;
}
.icons {
    border-top: 5px solid #f0b1ad;
    padding-top: 25px;
}